html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #596D48;
  color: #FFF;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  display: flex;
}

/* Sidebar */
.container .sidebar {
  background: url("images/halie-west-25xggax4bSA-unsplash.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 20vw;
  flex: 1;
  position: relative;
}

.sidebar .logo {
  background-color: rgb(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 180px;
  width: 100%;
  padding: 10px 0;
}

.sidebar .logo img {
  width: 100px;
}

@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

.sidebar .logo .logo-text {
  font-family: norse-bold;
  color: white;
  font-size: 4.5rem;
  margin: auto 0;
}

.sidebar .credits {
  position: absolute;
  color: rgb(255, 255, 255, .5);
  font-size: 1rem;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 6px;
}

.sidebar .credits a {
  text-decoration: underline;
  color: rgb(255, 255, 255, .5);
  font-size: 1rem;
}

/* Form */
.container .form-container {
  display: flex;
  flex-direction: column;
  flex: 2.3;
}

.form-container > div {
  background-color: #F9FAFB;
  padding: 124px 32px 64px 32px;
  font-weight: bold;
}

.form-container > div p {
  font-size: 1.5rem;
}

.form-container > div p:last-child {
  margin-top: 32px;
}

.form-container form {
  padding-top: 32px;
  padding-left: 32px;
  flex: 1;
}

form legend {
  font-size: 1.3rem;
  font-weight: bold;
}

form > div > div {
  padding-top: 40px;
}

form:last-child {
  padding-bottom: 180px;
}

.container .form-container .form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-container .form-row div {
  flex: 1;
}

div[class^="form-row-"] > input {
  background-color: #fff;
  appearance: none;
  outline: none;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  padding: 10px 8px 10px;
  width: 284px;
  font-size: 1rem;
}

div[class^="form-row-"] > input:focus {
  border-color: blue;
  box-shadow: 2px 2px 5px -3px blue;
}

div[class^="form-row-"] {
  position: relative;
}

div[class^="form-row-"] > label {
  position: absolute;
  top: 23px;
  left: 0px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

input[type="email"]:focus:invalid,
input[type="email"]:not(:placeholder-shown):not(:focus):invalid {
  border-color: red;
  box-shadow: 2px 2px 5px -3px red;
}
input[type="email"]:not(:placeholder-shown):not(:focus):invalid + label {
  color: red;
}
input[type="email"]:not(:placeholder-shown):not(:focus):invalid + label::after {
  color: red;
  text-transform: none;
  content: " (" attr(data-help) ")";
}

div[class^="form-row-submit"] > button {
  background-color: #596D48;
  outline: none;
  cursor: pointer;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 32px;
  border: 0;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: all .15s ease-in-out;
}

div[class^="form-row-submit"] > button:hover {
  background-color: #557D31;
}
div[class^="form-row-submit"] a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 24px 0 8px;
}

.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  color: #596D48;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}